.standings {
  margin-top: 3.8rem;

  &__heading {
    padding: 2rem 0 3rem 0;
  }

  &__title {
    @include font($weight: bold, $size: 2rem);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: -color(black);

    &::before {
      content:'';
      display: block;
      height: 5px;
      width: 11rem;
      background: -color(black);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -0.75rem;
    }
  }

  &__division_title {
    @include font($weight: bold, $size: 1.2rem);
    text-align: left;
    padding-left: 0.4rem;
    padding-bottom: 0.6rem;
  }


  &__row {
    td:first-child {
      max-width: 5rem;
    }
  }

  @include for-phone-landscape-up {
    &__division_title {
      padding-left: 0.6rem;
    }

    &__division_title {
      width: 70%;
      margin-right: 15%;
      margin-left: 15%;
    }
  }

  @include for-tablet-landscape-up {
    &__heading {
      padding: 3rem 0;
    }

    &__division_title {
      padding-top: 0;
    }
  }

  @include for-desktop-up {
    &__division_title {
      width: 50%;
      margin-right: 25%;
      margin-left: 25%;
    }

    &__row {
      td:first-child {
        min-width: 12rem;
      }
    }
  }
}