.table {
  @include font($size: 1rem);
  margin-bottom: 2.5rem;
  width: 100%;
  min-width: 20rem;
  overflow: hidden;
  
  &__head {
    tr {
      @include font($weight: bold, $size: 1rem);
      background-color: -color(royal);
      color: -color(white);
      text-align: left;
    }
  }

  &__body {
    tr {
      border-bottom: 1px solid -color(alto);

      &:nth-of-type(even) {
        background-color: -color(concrete);
      }

      &:last-of-type {
        border-bottom: 2px solid -color(royal);
      }
    }
  }

  &__row {
    th, td {
      padding: 1rem 0.8rem;
    }
  }

  @include for-phone-landscape-up {
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }

  @include for-desktop-up {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
  
    &__row {
      th, td {
        padding: 1rem 0.8rem;
      }
    }
  }
}