.homepage {
  @include font();
  margin-top: 3.5rem;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }

  &__hero {
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url('https://wbl-fbl-site.cdn.prismic.io/wbl-fbl-site/1c218a47d487eeb28a2a16d566916f6024149c1b_tournament_champs.jpeg');
    background-position: center 35%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content {
    padding: 0 5rem;
  }

  &__title {
    @include font($weight: medium, $size: 2rem);
    color: -color(white);
    margin-bottom: 2rem;
  }

  &__button {
    @include font($size: 1rem);
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: -color(white);

    border-width: 2px;
    border-style: solid;
    padding: 0.8rem 0.5rem;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: -color(white);
      color: -color(black);
      border-color: -color(white);
    }
  }

  @include for-phone-landscape-up {
    &__title {
      @include font($weight: medium, $size: 2.5rem);
    }

    &__button {
      @include font($size: 1.2rem);
      padding: 0.8rem 1.5rem;
    }
  }
}

.about::after, 
.pictures::after,
.promo::after {
  content: '';
  display: block;
  clear: both;
}

.about {
  padding-top: 1rem;
  background-color: -color(mine-shaft);

  &__textbox {
    position: relative;
    padding: 4rem;
    color: -color(white);
    outline: 2px solid -color(white);
    outline-offset: -2.5rem;
  }

  &__title {
    @include font($weight: light, $size: 2.5rem);
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: -color(mine-shaft);
    padding: 0 1rem;
    min-width: 13rem;
  }

  &__text {
    @include font($weight: light);
    padding-top: 1rem;
  }

  @include for-tablet-landscape-up {
    padding: 0 5rem;
  }

  @include for-desktop-up {
    padding: 0 15rem;
  }

  @include for-medium-desktop-up {
    padding: 0 20rem;
  }

  @include for-big-desktop-up {
    padding: 0 25rem;
  }
}

.pictures {
  &__item {
    position: relative;

    img {
      display: block;
    }
  }

  &__description {
    @include font($weight: light);
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
    color: -color(white);
    background: rgba(0, 0, 0, 0.75);
    padding: 1.2rem;
    display: none;
  }

  @include for-phone-landscape-up {
    &__item {
      width: 50%;
      float: left;
      height: 20rem;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    } 
  }

  @include for-tablet-landscape-up {
    &__item {
      height: 25rem;
      overflow: hidden;

      &:hover {
        .pictures__description {
          transform: translateY(0%);
        }
      }
    }

    &__description {
      display: block;
      transform: translateY(150%);
      transition: all ease-in-out 0.25s;
    }
  }

  @include for-desktop-up {
    &__item {
      width: 33.33334%;
    }
  }

  @include for-big-desktop-up {
    &__item {
      height: 30rem;
    }
  }
}

.promo {
  background-color: -color(mine-shaft);
  padding: 3rem 0;

  &__title {
    @include font($weight: bold, $size: 2rem);
    padding-bottom: 0.8rem;
    color: -color(white);
  }

  &__subtitle {
    @include font($weight: light, $size: 2rem);
    color: -color(white);
    padding-bottom: 2rem;
  }

  &__button {
    @include font($size: 1rem);
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: -color(white);

    border-width: 2px;
    border-style: solid;
    padding: 0.8rem 2.5rem;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: -color(white);
      color: -color(black);
      border-color: -color(white);
    }
  }
}