.players {
  margin-top: 3.8rem;

  &__heading {
    padding: 1.5rem 0;
  }

  &__title {
    @include font($weight: bold, $size: 2rem);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: -color(black);

    &::before {
      content:'';
      display: block;
      height: 5px;
      width: 8.4rem;
      background: -color(black);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -0.75rem;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  @include for-tablet-landscape-up {
    &__heading {
      padding: 3rem 0;
    }

    &__grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  background: -color(white-lilac);

  &__image {
    width: 100%;
    height: 26rem;
    object-fit: cover;
  }

  &__title {
    @include font($weight: bold, $size: 2rem);
    margin: 1rem 0;
  }

  &__role {
    @include font($size: 1rem);
    color: -color(boulder);
    margin-bottom: 1rem;
  }

  &__description {
    @include font($size: 1rem, $weight: medium);
    margin-top: 1rem;
    color: -color(dune);
    text-align: center;
    padding: 0 1rem;
    min-height: 5rem;
  }

  &__button {
    @include font($weight: bold, $size: 0.9rem);
    padding: 0.8rem 2rem;
    background-color: -color(royal);
    border-radius: 1.5rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: -color(white);
    text-decoration: none;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: -color(lucky-point);
    }
  }

  &__social_media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    i {
      font-size: 2.5rem;
    }
  }

  @include for-phone-landscape-up {
    width: 23rem;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;

    &__image {
      border-radius: 1rem 1rem 0 0;
    }
  }

  @include for-tablet-landscape-up {
    margin: 2rem;
  }
}

.fa-facebook-square {
  color: -color(chambray);
}

.fa-twitter-square {
  color: -color(picton);
}

.fa-instagram {
  color: -color(burnt-sienna);
}