.stats {
  margin-top: 3.7rem;

  img {
    max-width: 100%;
    height: auto;
  }

  &__name {
    @include font($weight: bold, $size: 2rem);
    text-align: center;
    margin-top: 1rem;
  }

  &__info {
    @include font();
    text-align: center;
    margin-top: 0.5rem;
    color: -color(emperor);
  }

  &__bio {

  }

  &__bio_data {
    color: -color(emperor);
  }
}