.stats {
  margin-top: 3.7rem;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &__name {
    @include font($weight: bold, $size: 2rem);
    text-align: center;
    margin-top: 1rem;
  }

  &__info {
    @include font();
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    color: -color(emperor);
  }

  &__bio {
    border-top: 2px solid -color(royal);
    padding: 1.5rem 0;
    margin: 0 1rem;
    
  }

  &__bio_category {
    @include font($weight: medium, $size: 1.4rem);
    padding-bottom: 0.3rem;
  }

  &__bio_data {
    @include font($size: 1.2rem);
    color: -color(emperor);
  }

  &__full-data {
    display: none;
    visibility: hidden;
  }

  @include for-phone-landscape-up {
    &__bio {
      margin: 0 3rem;
    }
    &__table {
      width: 100% !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    img {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
  }

  @include for-tablet-landscape-up {
    &__full-data {
      display: table;
      visibility: visible;
    }

    &__condensed-data {
      display: none;
      visibility: hidden;
    }

    &__bio {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }

    &__info {
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
      border-bottom: 2px solid -color(royal);
    }

    &__bio_category {
      padding-bottom: 0.8rem;
    }

    img {
      margin-top: 2rem;
      width: 20rem;
      margin-right: 3rem;
      max-height: 20rem;
      object-fit: cover;
    }

    &__image {
      display: inline-block;
    }

    &__name {
      @include font($weight: bold, $size: 3rem);
      text-align: left;
    }

    &__bio {
      margin: 0;
      border-top: none;
    }

    &__basic_info {
      display: inline-block;
    }
  }
}

.tab {
  padding: 0 1rem;

  &__content {
    display: none;
    padding: 1.5rem 0 0;
    border-top: 1px solid -color(casper);
  }

  &__content--analytics {
    @include font($weight: bold);
    padding: 8.5rem 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__input {
    display: none;

    &:checked + .tab__label {
      color: -color(royal);
      border: 1px solid -color(casper);
      border-top: 2px solid -color(royal);
      border-bottom: 1px solid -color(white);
    }
  }

  &__input--hitting:checked ~ .tab__content--hitting,
  &__input--pitching:checked ~ .tab__content--pitching,
  &__input--analytics:checked ~ .tab__content--analytics {
    display: block;
  }

  &__label {
    @include font($weight: bold, $size: 0.9rem);
    display: inline-block;
    margin: 0 0 -1px;
    padding: 1rem 1rem;
    text-align: center;
    color: #abc;
    border: 1px solid transparent;
    text-transform: uppercase;

    &:hover {
      color: #789;
      cursor: pointer;
    }
  }

  @include for-phone-landscape-up {
    padding: 0 3rem;
  }

  @include for-tablet-landscape-up {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
  }
}