.stats {

  &__image {
    margin-top: 2rem;
    object-fit: cover;
    width: 15rem;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  &__bio {
    margin-top: 1rem;
    padding-left: 4rem;
  }

  &__table {
    margin-top: 1rem;
  }
}