// fonts
$fonts: (
  roboto: ('Roboto', sans-serif)
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700
);

// colors 
$colors: (
  black:       #000000,
  mine-shaft:  #262626,
  dune:        #333333,
  emperor:     #525252,
  boulder:     #777777,
  burnt-sienna:#e6683c,
  lucky-point: #212c74,
  chambray:    #3b5999,
  royal:       #4459e3,
  picton:      #55acee,
  casper:      #aabbcc,
  alto:        #dddddd,
  athens-gray: #e5e7ea,
  white-lilac: #ebeef8,
  concrete:    #f3f3f3,
  white:       #ffffff
);