// fonts
$fonts: (
  roboto: ('Roboto', sans-serif)
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700
);

// colors 
$colors: (
  black:       #000000,
  mine-shaft:  #262626,
  emperor:     #525252,
  athens-gray: #e5e7ea,
  white:       #ffffff
);