.navbar {
  background: -color(mine-shaft);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.5);

  &__inner {
    margin: 1rem 0;
  }

  &__toggle {
    display: none;
  }

  &__toggle:checked ~ &__list {
   transform: scale(1, 1);

   a {
     opacity: 1;
     transition: opacity 0.25s ease-in-out 0.2s;
   }
  }

  &__hamburger {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    span, span::before, span::after {
      display: block;
      background: -color(white);
      height: 2px;
      width: 2rem;
      border-radius: 2px;
      position: relative;
    }

    span::before, span::after {
      content: '';
      position: absolute;
    }

    span::before {
      bottom: 7px;
    }

    span::after {
      top: 7px;
    }
  }

  &__list {
    background: -color(mine-shaft);
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
  }

  &__link {
    margin-bottom: 1rem;
    margin-left: 1rem;

    a {
      @include font($size: 1rem);
      color: -color(white);
      text-decoration: none;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        color: -color(white);
      }
    }
  }

  &__link--twitter_logo {
    display: none;
  }

  &__link--twitter_text {
    display: block;
  }

  &__logo {
    a {
      @include font($weight: bold, $size: 1.7rem);
      color: -color(white);
      text-decoration: none;
    }
  }

  @include for-tablet-landscape-up {
    &__hamburger {
      display: none;
    }

    &__inner {
      display: grid;
      grid-template-columns: 5% auto minmax(600px, 3fr) 5%;
    }

    &__logo {
      grid-column: 2 / 3;
    }

    &__list {
      // Unset mobile styles
      position: relative;
      transform: none;
      background: none;
      top: 0;

      display: flex;
      justify-content: flex-end;
      align-items:center;
      grid-column: 3 / 4;
      overflow: visible;
    }

    &__link {
      margin-bottom: 0;
      margin-left: 2rem;

      a {
        opacity: 1;
        position: relative;

        &::before {
          content:'';
          display: block;
          height: 5px;
          background: white;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -0.75rem;
          transform: scale(0, 1);
          transition: transform ease-in-out 0.25s;
        }

        &:hover::before {
          transform: scale(1, 1);
        }
      }
    }

    &__link--twitter_logo {
      display: block;
    }
  
    &__link--twitter_text {
      display: none;
    }
  }
}