.navbar {
  background-color: -color(athens-gray);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;

  &__inner {
    //margin: 0 5rem;
  }

  &__list {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
  }

  &__link {
    margin-bottom: 1rem;
    margin-left: 1rem;

    a {
      color: -color(black);
      text-decoration: none;
      @include font();
    }
  }

  &__logo {

  }

  // &__logo {
  //   width: 190px;
  //   height: 68px;
  //   svg {
  //     background: none;
  //   }
  // }
}