<!-- The page to add a new team to the standings -->
<!-- This is the page the admin will use to login. -->

{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_utils.html" import render_field %}
    <h1>Add a New Team</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="form-group col-sm-4">
                {{ render_field(form.team_name, class_="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                {{ render_field(form.team_captain, class_="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                {{ render_field(form.points, class_="form-control") }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}