<!-- The admin login page of the app -->
<!-- This is the page the admin will use to login. -->

{% extends 'layout.html' %}

{% block body %}
    <h1>Sign In</h1>
    <form action="" method="post">
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Username</label>
                <input type="text" name="username" class="form-control" value={{request.form.username}}>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Password</label>
                <input type="password" name="password" class="form-control" value={{request.form.password}}>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}