<!-- Admin will be able to add a new blog post -->

{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_utils.html" import render_field %}
    <h1>Add a New Post</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="form-group col-md-6">
                {{ render_field(form.title, class_="form-control") }}
            </div>
        </div>
        <!-- Add CKEditor to text body -->
        <div class="row">
            <div class="form-group col-sm">
                {{ render_field(form.body, class_="form-control", id="editor") }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/blog" class="btn btn-danger">Cancel</a>
    </form>
{% endblock %}