<!-- The admin login page of the app -->
<!-- This is the page the admin will use to login. -->

{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_utils.html" import render_field %}
    <h1>Sign In</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="form-group col-md-4">
                {{ render_field(form.username, class_="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ render_field(form.password, class_="form-control") }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}