<!-- All blog posts will be listed here -->

{% extends 'layout.html' %}

{% block body %}
    <style>
        p {
            margin-bottom: 0;
        }
    </style>

    <div class="container text-center">
        <h1>WBL Blog</h1>
    </div>
    <ul class="list-group">
        {% for post in posts|reverse %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <a href="blog_post/{{post.title}}"><h6>{{ post.title }}</h6></a>
                    </div>
                    <div class="col-6 text-right">
                        {{ post.date }}
                    </div>
                </div>
                {{ post.body|safe|truncate(160, True) }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}