<!-- The basic html layout of the app -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WBL</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <body>
        <!-- add the navbar -->
        {% include 'includes/_navbar.html' %}
        <div class="container" style="margin: 10px auto;">
            <!-- allows messages to be displayed -->
            {% include 'includes/_messages.html' %}

            <!-- all other html files are rendered here -->
            {% block body %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
        <script type="text/javascript">
            CKEDITOR.replace('editor')
        </script>
    </body>
</html>