<!-- This page will show the players in the league. -->

{% extends 'layout.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 text-center" style="float: none; margin: 0px auto;">
	    <h1>Players <small>2019 Season</small></h1>
        </div>
    </div>
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 2rem;">
      {% for team in teams %}
        <div class="card" style="width: 18rem; height: 28rem; float: none; margin: 0px auto;">
          <img class="card-img-top" src="{{ team.image }}" alt="{{ team.captain }}" height="215">
          <div class="card-body">
              <h5 class="card-title">{{ team.captain }}</h5>
              <p class="card-text"><b>{{ team.role }}</b><br/>{{ team.description }}</p>
          </div>
          <div class="card-footer">
              <a href="/stats/{{ team.captain }}" class="btn btn-primary">2019 Stats</a>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
