<!-- This page will show the players in the league. -->
<!-- template will be refactored later on to accomodate dynamic data -->

{% extends 'layout.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 text-center" style="float: none; margin: 0px auto;">
	    <h1>Players <small>2018 Season</small></h1>
        </div>
    </div>
    <div class="row">
	<div class="col-md-4" style="margin-top: 10px">
	    <div class="card" style="width: 18rem; height: 28rem;">
            	<img class="card-img-top" src="http://i0.kym-cdn.com/entries/icons/original/000/022/940/mockingspongebobbb.jpg" alt="Dan Roche" height="215">
            	<div class="card-body">
            	    <h5 class="card-title">Nick Brown</h5>
            	    <p class="card-text">Best closer in the league.</p>
                </div>
		<div class="card-footer">
		   <a href="#" class="btn btn-primary">2018 Stats</a>
    		</div>
	    </div>
        </div>
	<div class="col-md-4" style="margin-top: 10px">
            <div class="card" style="width: 18rem; height: 28rem;">
                <img class="card-img-top" src="http://i0.kym-cdn.com/entries/icons/original/000/017/507/1-13-Skeletor-Orgasm.png" alt="Dan Roche" height="215">
                <div class="card-body">
                    <h5 class="card-title">Ryan Brown</h5>
                    <p class="card-text">Best closer in the league.</p>
                </div>
		<div class="card-footer">
                   <a href="#" class="btn btn-primary">2018 Stats</a>
                </div>
            </div>
        </div>
	<div class="col-md-4" style="margin-top: 10px">
            <div class="card" style="width: 18rem; height: 28rem;">
                <img class="card-img-top" src="https://i.ebayimg.com/images/g/TiMAAMXQ1ZhTgIPm/s-l300.jpg" alt="Dan Roche" height="215">
                <div class="card-body">
                    <h5 class="card-title">Alec DiFederico</h5>
                    <p class="card-text">Best closer in the league.</p>
                </div>
		<div class="card-footer">
                   <a href="#" class="btn btn-primary">2018 Stats</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-top: 30px">
            <div class="card" style="width: 18rem; height: 28rem;">
                <img class="card-img-top" src="https://pbs.twimg.com/media/DQ9pFn5X4AAUnvp.jpg" alt="Dan Roche" height="215">
                <div class="card-body">
                    <h5 class="card-title">Mike Iula</h5>
                    <p class="card-text">Best closer in the league.</p>
                </div>
                <div class="card-footer">
                   <a href="#" class="btn btn-primary">2018 Stats</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 30px">
            <div class="card" style="width: 18rem; height: 28rem;">
                <img class="card-img-top" src="https://imagesvc.timeincapp.com/v3/fan/image?url=https%3A%2F%2Fbosoxinjection.com%2Ffiles%2F2016%2F02%2Fpablo-sandoval-dioner-navarro-mlb-boston-red-sox-toronto-blue-jays.jpg&c=sc&w=850&h=560" alt="Dan Roche" height="215">
                <div class="card-body">
                    <h5 class="card-title">Zack Lacey</h5>
                    <p class="card-text">Best closer in the league.</p>
                </div>
                <div class="card-footer">
                   <a href="#" class="btn btn-primary">2018 Stats</a>
                </div>
            </div>
        </div>
	<div class="col-md-4" style="margin-top: 30px">
            <div class="card" style="width: 18rem; height: 28rem;">
                <img class="card-img-top" src="https://cdn.cnn.com/cnnnext/dam/assets/160407160901-01-cnnphotos-cuban-muslims-restricted-super-169.jpg" alt="Dan Roche" height="215">
                <div class="card-body">
                    <h5 class="card-title">Markus Letaif</h5>
                    <p class="card-text">Best closer in the league.</p>
                </div>
                <div class="card-footer">
                   <a href="#" class="btn btn-primary">2018 Stats</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-top: 30px">
            <div class="card" style="width: 18rem; height: 28rem;">
                <img class="card-img-top" src="http://wp.production.patheos.com/blogs/laughingindisbelief/files/2016/05/precious-bloodsh1c.jpg" alt="Dan Roche" height="215">
                <div class="card-body">
                    <h5 class="card-title">Dan Roche</h5>
                    <p class="card-text">Best closer in the league.</p>
                </div>
                <div class="card-footer">
                   <a href="#" class="btn btn-primary">2018 Stats</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 30px">
            <div class="card" style="width: 18rem; height: 28rem;">
                <img class="card-img-top" src="http://i30.tinypic.com/icislg.jpg" alt="Dan Roche" height="215">
                <div class="card-body">
                    <h5 class="card-title">Dan Sadek</h5>
                    <p class="card-text">Best closer in the league.</p>
                </div>
                <div class="card-footer">
                   <a href="#" class="btn btn-primary">2018 Stats</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 30px">
            <div class="card" style="width: 18rem; height: 28rem;">
                <img class="card-img-top" src="https://img.buzzfeed.com/buzzfeed-static/static/2017-07/10/14/asset/buzzfeed-prod-fastlane-01/sub-buzz-16811-1499709941-1.png?downsize=715:*&output-format=auto&output-quality=autoy" alt="Dan Roche" height="215">
                <div class="card-body">
                    <h5 class="card-title">Jonathan Sullivan</h5>
                    <p class="card-text">Best closer in the league.</p>
                </div>
                <div class="card-footer">
                   <a href="#" class="btn btn-primary">2018 Stats</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
