<!-- This page will show the standings of the league. -->

{% extends 'layout.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 text-center" style="float: none; margin: 0px auto;">
            <h1>Standings <small>2019 Season</small></h1>
            <table class="table table-striped table-bordered" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <!-- <th scope="col" class="text-center">Team</th> -->
                        <th scope="col" class="text-center">Captain</th>
                        <th scope="col" class="text-center">Record</th>
                        <th scope="col" class="text-center">plus/minus</th>
                    </tr>
                </thead>
                <body>
                    {% for team in teams %}
                    <tr>
                        <!-- <td>{{ team.name }}</td> -->
                        <td>{{ team.captain }}</td>
                        <!-- <td>{{ team.points }}</td> -->
                        <td>{{ team.wins }}-{{ team.losses }}</td>
                        <td>{{ team.differential }}</td>
                    </tr>
                    {% endfor %}
                </body>
            </table>
        </div>
    </div>
{% endblock %}